<!DOCTYPE html>

<html  lang="en">
  <head>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/highlight-base16-ocean-dark.css">
  </head>
  <body>
    <header>
      made by <a href="https://www.alanwsmith.com/">alan w smith</a>
      ~
      <a href="https://socials.alanwsmith.com/">socials</a>
      ~
      <a href="https://links.alanwsmith.com/">other projects</a>
    </header>
    <main>
      [! block main !][! endblock !]
    </main>
  </body>
</html>

